<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!-- <add name="DataConnectionString"
               connectionString="server=192.168.1.99;User Id=admin;password=123456789;database=vvpos;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;"
               providerName="MySql.Data.MySqlClient"/> -->
		<add name="DataConnectionString" connectionString="server=localhost;User Id=occbuu;password=123456;database=horseracing;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DataConnectionString" value="server=localhost;User Id=occbuu;password=123456;database=horseracing;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;" />
		<add key="weburl" value="http://localhost/livetote/sin.htm" />
		<add key="webur2" value="http://localhost/livetote/Telelink.htm" />
		<!--<add key="ServerURL" value="http://www.netmobile.me:89/ACWS.asmx" />-->
		<!--<add key="ServerURL" value="http://103.21.182.68/ACWS.asmx" />-->
		<add key="ServerURL" value="http://localhost:41534/ACWS.asmx" />
	</appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ACWSSoap" />
                <binding name="ACWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://162.253.19.39/ACWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="ACWSSoap" contract="ACWS.ACWSSoap" name="ACWSSoap" />
            <endpoint address="http://localhost:41534/ACWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="ACWSSoap1" contract="DuongTest.ACWSSoap"
                name="ACWSSoap1" />
        </client>
    </system.serviceModel>
</configuration>